/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.wrapper {
	text-align: center;
	width: 1000px;
	margin-left: 460px;
	margin-right: 460x;
}

.page {
	display: inline-block;
}

.header {
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	display: inline-block;
	border: 2px solid purpl;
	margin-top: 20px;
	margin-right: 15px;
	
	height: 80px;
	width: 650px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	margin-top: 35px;
	height: 10px;
}

nav a {
	text-decoration: none;
	color: #bcbcbc;
}

.header-logo {
	margin-left: 30px;
}


.logo {
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}




.title {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.title-slogan {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-bottom: 20px;
}

.title-slogan h1 {
	font-size: 80px;
	margin-top: -50px;
}

.Get-Started {
	font-size: 18px;
	padding: 7px;
	border: 1px solid black;
	width: 175px;
	height: 35px;
	text-decoration: none;
	color: black;
}



.center-image {
	margin-right: 30px;
	margin-bottom: 50px;
}

.body {
	width: 90%;
	display: inline-block;
}

.body p {
	font-size: 16px;
}

.body-row1 {
	display: flex;
	justify-content: space-around;
}

.features {
	text-align: left;
	
}

.about {
	text-align: left;
}

.body-row2 { 
	display: flex;
	justify-content: space-around;
}

.body-row2 div {
	width: 30%;
}

.services {
	text-align: left;
}

.product {
	text-align: left;
}

.vision {
	text-align: left;
}

hr {
	width: 90%;
	height: 1px;
	background: #fff;
	margin-top: 20px;
}


.footer {
	width: 90%;
	display: inline-block;
	padding-bottom: 125px;
}

.contact {
	text-align: left;
}

.copyright {
	margin-top: 60px;
}

//test